version: '3.9'
services:
  db:
    image: mariadb:latest
    container_name: mariadb
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    environment:
      MARIADB_ROOT_PASSWORD: root123
      MARIADB_DATABASE: shopNest
      MARIADB_USER: user
      MARIADB_PASSWORD: user123

#    env_file:
#      - .env
    ports:
      - '3308:3306'
    volumes:
      - ./data_db:/var/lib/mariadb

  adminer:
    image: adminer
    container_name: adminer
    restart: always
    ports:
      - 8080:8080


